services:
  pg_db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./pg_init.sql:/docker-entrypoint-initdb.d/init.sql

  eureka_server:
    image: springcloud/eureka:latest
    ports:
      - "8761:8761"